/* line 4, ../sass/vendor/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, ../sass/vendor/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 1, ../sass/partials/_typography.scss */
body,
html {
  font-size: 1em;
  font-family: "Ovo";
  color: #111;
  letter-spacing: .01em; }

/* line 10, ../sass/partials/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli";
  margin-bottom: .6em; }

/* line 20, ../sass/partials/_typography.scss */
h1 {
  font-size: 3.999em; }

/* line 24, ../sass/partials/_typography.scss */
h2 {
  font-size: 3.1992em; }

/* line 28, ../sass/partials/_typography.scss */
h3 {
  font-size: 2.666em; }

/* line 32, ../sass/partials/_typography.scss */
h4 {
  font-size: 2.1328em; }

/* line 36, ../sass/partials/_typography.scss */
h5 {
  font-size: 1.5996em; }

/* line 40, ../sass/partials/_typography.scss */
h6 {
  font-size: 1.333em; }

/* line 44, ../sass/partials/_typography.scss */
p {
  font-size: 1.333em;
  letter-spacing: .03em;
  line-height: 1.2em;
  margin-bottom: .6em;
  text-align: left; }

/* line 1, ../sass/partials/_page.scss */
html {
  box-sizing: border-box; }

/* line 4, ../sass/partials/_page.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 8, ../sass/partials/_page.scss */
.home {
  min-height: 100vh;
  position: relative;
  background: url(../../assets/images/bg-1987.jpg) center center no-repeat;
  color: #fff; }

/* line 14, ../sass/partials/_page.scss */
.home .grid {
  position: relative;
  top: 160px;
  z-index: 10; }

/* line 20, ../sass/partials/_page.scss */
.home .scroll {
  bottom: 0;
  cursor: pointer;
  position: absolute; }

/* line 27, ../sass/partials/_page.scss */
.home .scroll a {
  color: #fff;
  text-decoration: none; }

/* line 32, ../sass/partials/_page.scss */
.home .scroll:hover .fa {
  -moz-animation: bounceDown .7s infinite linear;
  -webkit-animation: bounceDown .7s infinite linear; }

@-moz-keyframes bounceDown {
  0% {
    transform: translateY(0%);
    opacity: 1; }
  50% {
    transform: translateY(50%);
    opacity: .5; }
  100% {
    transform: translateY(0%);
    opacity: 0.2; } }
@-webkit-keyframes bounceDown {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(25%); }
  100% {
    transform: translateY(50%); } }
/* line 65, ../sass/partials/_page.scss */
.home .scroll h3 {
  margin-bottom: 0;
  padding: .5% 1.2%;
  margin-bottom: .25em; }

/* line 70, ../sass/partials/_page.scss */
.home-title h1 {
  margin-bottom: .25em;
  text-align: right;
  font-family: "Ovo";
  color: #fff; }

/* line 77, ../sass/partials/_page.scss */
.home-title .highlight {
  background: #000;
  padding: .5% 1.2%; }

/* line 82, ../sass/partials/_page.scss */
.home-overlay {
  background: #000;
  position: absolute;
  z-index: 1;
  opacity: .7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 93, ../sass/partials/_page.scss */
.navi-block li {
  margin-bottom: .7em; }

/* line 97, ../sass/partials/_page.scss */
.navi-block a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8662em; }

/* line 103, ../sass/partials/_page.scss */
.grid {
  overflow: hidden;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

/* line 106, ../sass/partials/_page.scss */
.grid .left-block,
.grid .right-block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  /* line 89, ../sass/vendor/neat/grid/_span-columns.scss */
  .grid .left-block:last-child,
  .grid .right-block:last-child {
    margin-right: 0; }

/* line 111, ../sass/partials/_page.scss */
.grid .left-block {
  min-height: 50px; }

/* line 115, ../sass/partials/_page.scss */
.grid .right-block {
  margin-right: 0; }

/* line 119, ../sass/partials/_page.scss */
.grid .mid-block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  /* line 89, ../sass/vendor/neat/grid/_span-columns.scss */
  .grid .mid-block:last-child {
    margin-right: 0; }

/* line 123, ../sass/partials/_page.scss */
.home .grid .left-block,
.home .grid .right-block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  /* line 89, ../sass/vendor/neat/grid/_span-columns.scss */
  .home .grid .left-block:last-child,
  .home .grid .right-block:last-child {
    margin-right: 0; }

/* line 128, ../sass/partials/_page.scss */
.timeline {
  padding: 2% 0;
  background: #000;
  color: #fff; }

/* line 134, ../sass/partials/_page.scss */
.timeline .grid {
  position: relative; }

/* line 138, ../sass/partials/_page.scss */
.timeline-group-heading {
  text-align: center; }

/* line 142, ../sass/partials/_page.scss */
.timeline-item {
  margin: 0;
  padding: 2% 0; }

/* line 148, ../sass/partials/_page.scss */
.timeline-item.photo {
  min-height: 640px;
  padding: 1% 0; }

/* line 152, ../sass/partials/_page.scss */
.timeline-item.photo .grid {
  top: 280px; }

/* line 156, ../sass/partials/_page.scss */
.timeline-item .left-block {
  padding-top: 1%;
  position: relative; }

/* line 160, ../sass/partials/_page.scss */
.timeline-item .left-block .timeline-item-heading {
  text-align: right; }

/* line 164, ../sass/partials/_page.scss */
.timeline-item-heading {
  font-size: 1.5996em;
  cursor: pointer; }

/* line 168, ../sass/partials/_page.scss */
.timeline-item-heading span {
  background-color: #ccac00;
  padding: 1%; }

/* line 173, ../sass/partials/_page.scss */
.footer-content {
  overflow: hidden;
  *zoom: 1;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto; }

/* line 1, ../sass/partials/_bgs.scss */
.section-bgs-temp, .may-2015-20, .may-2015-13, .may-2015-4 {
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed; }

/* line 6, ../sass/partials/_bgs.scss */
.may-2015-20 {
  background-image: url(../../assets/images/lightUp4FOI.png); }

/* line 11, ../sass/partials/_bgs.scss */
.may-2015-13 {
  background-image: url(../../assets/images/safe_image.jpg); }

/* line 16, ../sass/partials/_bgs.scss */
.may-2015-4 {
  background-image: url(../../assets/images/hor.jpg); }
