/* line 4, ../sass/vendor/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, ../sass/vendor/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 1, ../sass/partials/_typography.scss */
body,
html {
  font-size: 1em;
  font-family: "Quicksand";
  color: #111;
  letter-spacing: .01em; }

/* line 10, ../sass/partials/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arvo";
  margin-bottom: .6em; }

/* line 20, ../sass/partials/_typography.scss */
h1 {
  font-size: 3.999em; }

/* line 24, ../sass/partials/_typography.scss */
h2 {
  font-size: 3.1992em; }

/* line 28, ../sass/partials/_typography.scss */
h3 {
  font-size: 2.666em; }

/* line 32, ../sass/partials/_typography.scss */
h4 {
  font-size: 2.1328em; }

/* line 36, ../sass/partials/_typography.scss */
h5 {
  font-size: 1.5996em; }

/* line 40, ../sass/partials/_typography.scss */
h6 {
  font-size: 1.333em; }

/* line 44, ../sass/partials/_typography.scss */
p {
  font-size: 1.333em;
  letter-spacing: -.05em;
  line-height: 1.2em;
  margin-bottom: .6em;
  text-align: left; }

/*HOME*/
/* line 3, ../sass/partials/_page.scss */
.home-section {
  min-height: 100vh; }

/* line 8, ../sass/partials/_page.scss */
.timeline-section .title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -88px;
  margin-bottom: 45px;
  background: #fff;
  padding: 1% 0;
  width: 90%; }

/* line 19, ../sass/partials/_page.scss */
.container {
  overflow: hidden;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

/* line 23, ../sass/partials/_page.scss */
.section,
.center-comp {
  clear: both;
  content: " ";
  display: block;
  position: relative;
  width: 100%; }

/* line 33, ../sass/partials/_page.scss */
.center-comp {
  width: 960px;
  margin: 0 auto; }

/* line 38, ../sass/partials/_page.scss */
.content {
  width: 50%;
  box-sizing: border-box; }

/* line 44, ../sass/partials/_page.scss */
.content .inner-wrapper {
  width: 90%;
  box-sizing: border-box;
  padding: 5%;
  background-color: dodgerblue;
  margin-bottom: 5%; }
/* line 53, ../sass/partials/_page.scss */
.content.grouped .inner-wrapper {
  margin-bottom: 0; }
  /* line 56, ../sass/partials/_page.scss */
  .content.grouped .inner-wrapper.last {
    margin-bottom: 5%; }

/* line 65, ../sass/partials/_page.scss */
.section h5,
.section h6,
.section a {
  color: #fff; }

/* line 71, ../sass/partials/_page.scss */
.section h6 a {
  text-decoration: none; }

/* line 76, ../sass/partials/_page.scss */
.section.left .content {
  float: left;
  border-right: 8px solid #ccc;
  width: 50.9%;
  display: inline-block; }
/* line 83, ../sass/partials/_page.scss */
.section.left .arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 50%;
  border-left: 15px solid #0077ea;
  left: 45%; }
/* line 94, ../sass/partials/_page.scss */
.section.left .date {
  right: 360%; }

/* line 100, ../sass/partials/_page.scss */
.section.right .content {
  float: right;
  border-left: 8px solid #ccc; }
/* line 105, ../sass/partials/_page.scss */
.section.right .content .inner-wrapper {
  float: right; }
/* line 109, ../sass/partials/_page.scss */
.section.right .arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 49%;
  right: 44.2%;
  border-right: 15px solid #0A60B2; }
/* line 120, ../sass/partials/_page.scss */
.section.right .date {
  left: 36%; }

/* line 129, ../sass/partials/_page.scss */
.section.photo-bg {
  height: 110%;
  background-size: contain; }
  /* line 137, ../sass/partials/_page.scss */
  .section.photo-bg h5 {
    background-color: dodgerblue;
    padding: 2%; }

/* line 144, ../sass/partials/_page.scss */
.date {
  position: absolute;
  top: 50%;
  font-weight: bold;
  background-color: #FFAB1E;
  color: #fff;
  padding: 1%; }

/* line 153, ../sass/partials/_page.scss */
.dot {
  width: 24px;
  height: 24px;
  background-color: #444;
  border: 4px #fff solid;
  border-radius: 100%;
  position: absolute;
  left: 49.30%;
  top: 50%; }

/* line 163, ../sass/partials/_page.scss */
.tracker-buttons {
  margin: 5px 0;
  text-align: center; }

/* line 167, ../sass/partials/_page.scss */
.tracker-buttons li {
  display: inline-block;
  margin: 0 1.5%; }

/* line 171, ../sass/partials/_page.scss */
.tracker-buttons li a {
  text-decoration: none; }

/* line 174, ../sass/partials/_page.scss */
.tracker-buttons .fa {
  margin-right: 3px; }

/* line 1, ../sass/partials/_bgs.scss */
.home-section {
  background-image: url(../../assets/images/HALL.png); }

/* line 5, ../sass/partials/_bgs.scss */
#may202015 img {
  position: absolute;
  z-index: -1;
  left: 50px;
  top: -135px; }
