/* line 4, ../sass/vendor/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, ../sass/vendor/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 1, ../sass/partials/_typography.scss */
body,
html {
  font-size: 1em;
  font-family: "Ovo";
  color: #111;
  letter-spacing: .01em; }

/* line 10, ../sass/partials/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli";
  margin-bottom: .6em; }

/* line 20, ../sass/partials/_typography.scss */
h1 {
  font-size: 3.999em; }

/* line 24, ../sass/partials/_typography.scss */
h2 {
  font-size: 3.1992em; }

/* line 28, ../sass/partials/_typography.scss */
h3 {
  font-size: 2.666em; }

/* line 32, ../sass/partials/_typography.scss */
h4 {
  font-size: 2.1328em; }

/* line 36, ../sass/partials/_typography.scss */
h5 {
  font-size: 1.5996em; }

/* line 40, ../sass/partials/_typography.scss */
h6 {
  font-size: 1.333em; }

/* line 44, ../sass/partials/_typography.scss */
p {
  font-size: 1.333em;
  letter-spacing: .03em;
  line-height: 1.2em;
  margin-bottom: .6em;
  text-align: left; }

/* line 1, ../sass/partials/_page.scss */
.home {
  min-height: 100vh;
  position: relative;
  background: url(../../assets/images/bg-1987.jpg) center center no-repeat;
  background-size: cover;
  color: #fff; }

/* line 8, ../sass/partials/_page.scss */
.home .grid {
  position: relative;
  top: 160px;
  z-index: 10; }

/* line 14, ../sass/partials/_page.scss */
.home .scroll {
  bottom: 0;
  cursor: pointer;
  position: absolute; }

/* line 21, ../sass/partials/_page.scss */
.home .scroll a {
  color: #fff;
  text-decoration: none; }

/* line 26, ../sass/partials/_page.scss */
.home .scroll:hover .fa {
  -moz-animation: bounceDown .7s infinite linear;
  -webkit-animation: bounceDown .7s infinite linear; }

@-moz-keyframes bounceDown {
  0% {
    transform: translateY(0%);
    opacity: 1; }
  50% {
    transform: translateY(20%);
    opacity: .5; }
  100% {
    transform: translateY(40%);
    opacity: 0.2; } }
@-webkit-keyframes bounceDown {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(25%); }
  100% {
    transform: translateY(50%); } }
/* line 58, ../sass/partials/_page.scss */
.home .scroll h3 {
  margin-bottom: 0;
  padding: .5% 1.2%;
  margin-bottom: .25em; }

/* line 63, ../sass/partials/_page.scss */
.home-title h1 {
  margin-bottom: .25em;
  text-align: right;
  font-family: "Ovo";
  color: #fff; }

/* line 70, ../sass/partials/_page.scss */
.home-title .highlight {
  background: #000;
  padding: .5% 1.2%; }

/* line 75, ../sass/partials/_page.scss */
.home-overlay {
  background: #000;
  position: absolute;
  z-index: 1;
  opacity: .7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 86, ../sass/partials/_page.scss */
.navi-block li {
  margin-bottom: .7em; }

/* line 90, ../sass/partials/_page.scss */
.navi-block a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8662em; }

/* line 96, ../sass/partials/_page.scss */
.grid {
  overflow: hidden;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

/* line 99, ../sass/partials/_page.scss */
.grid .left-block,
.grid .right-block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  /* line 89, ../sass/vendor/neat/grid/_span-columns.scss */
  .grid .left-block:last-child,
  .grid .right-block:last-child {
    margin-right: 0; }

/* line 104, ../sass/partials/_page.scss */
.grid .right-block {
  margin-right: 0; }

/* line 108, ../sass/partials/_page.scss */
.timeline {
  padding-top: 2%;
  background: #000;
  color: #fff;
  min-height: 100vh; }

/* line 115, ../sass/partials/_page.scss */
.timeline-item .left-block {
  text-align: right;
  min-height: 120px; }

/* line 119, ../sass/partials/_page.scss */
.item-content {
  margin-bottom: 1%;
  max-height: 480px;
  padding: 3.5% 0 2% 0;
  width: 100%;
  color: #444;
  background-color: #fff; }
  /* line 126, ../sass/partials/_page.scss */
  .item-content.hidden {
    height: 0;
    min-height: 0;
    display: none; }

/* line 133, ../sass/partials/_page.scss */
.item-content-container {
  overflow: hidden;
  *zoom: 1;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto; }

/* line 137, ../sass/partials/_page.scss */
.item-content:last-child {
  margin-bottom: 0; }

/* line 141, ../sass/partials/_page.scss */
.item-content .heading {
  text-align: center; }

/* line 146, ../sass/partials/_page.scss */
.indicator {
  background-color: gold;
  border-radius: 100%;
  cursor: pointer;
  height: 16px;
  margin: 0 8px 0 auto;
  width: 16px; }

/* line 155, ../sass/partials/_page.scss */
.indicator.indicator-major {
  width: 32px;
  height: 32px;
  margin-right: 0px; }

/* line 161, ../sass/partials/_page.scss */
.line {
  width: 4px;
  height: 120px;
  background: #fff;
  margin: 0 14px 0 auto; }
